USE [master]
GO
/****** Object:  Database [STOCK]    Script Date: 2/24/2016 9:22:27 AM ******/
CREATE DATABASE [STOCK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coffee', FILENAME = N'D:\MSSQLDB\Coffee.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Coffee_log', FILENAME = N'D:\MSSQLDB\Coffee_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [STOCK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [STOCK]
GO
/****** Object:  Table [dbo].[MAS_BAKERYRECIVE]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_BAKERYRECIVE](
	[BakeryReciveID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[ReciveDate] [date] NULL,
	[Remark] [nvarchar](50) NULL,
	[ReciveStatus] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAS_BAKERYRECIVE] PRIMARY KEY CLUSTERED 
(
	[BakeryReciveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_BAKERYRECIVELIST]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_BAKERYRECIVELIST](
	[BakeryReciveListID] [int] IDENTITY(1,1) NOT NULL,
	[BakeryID] [int] NULL,
	[VolumnRecive] [int] NULL,
	[Price] [money] NULL,
	[TotalPrice] [money] NULL,
	[BakeryReciveID] [int] NULL,
	[PackID] [int] NULL,
	[TotalVolumn] [int] NULL,
 CONSTRAINT [PK_MAS_BAKERYRECIVELIST] PRIMARY KEY CLUSTERED 
(
	[BakeryReciveListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_MATERIAL_BALANCEUPDATE]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_MATERIAL_BALANCEUPDATE](
	[BalanceUpdateID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NULL,
	[OldVolumn] [int] NULL,
	[NewVolumn] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[Remark] [nvarchar](500) NULL,
 CONSTRAINT [PK_MAS_MATERIAL_BALANCEUPDATE] PRIMARY KEY CLUSTERED 
(
	[BalanceUpdateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_PICK]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_PICK](
	[PickID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NULL,
	[PickDate] [datetime] NULL,
	[PickStatus] [bit] NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAS_PICK] PRIMARY KEY CLUSTERED 
(
	[PickID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_PICKLIST]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_PICKLIST](
	[PickListID] [int] IDENTITY(1,1) NOT NULL,
	[PickID] [int] NULL,
	[MaterialID] [int] NULL,
	[VolumnPick] [int] NULL,
 CONSTRAINT [PK_MAS_PICKLIST] PRIMARY KEY CLUSTERED 
(
	[PickListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_RECIVE]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_RECIVE](
	[ReciveID] [int] IDENTITY(1,1) NOT NULL,
	[SellerID] [int] NULL,
	[ReciveNumber] [nvarchar](50) NULL,
	[ReciveDate] [date] NULL,
	[Remark] [nvarchar](50) NULL,
	[ReciveStatus] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
 CONSTRAINT [PK_MAS_RECIVE] PRIMARY KEY CLUSTERED 
(
	[ReciveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_RECIVELIST]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_RECIVELIST](
	[ReciveListID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NULL,
	[VolumnRecive] [int] NULL,
	[Price] [money] NULL,
	[TotalPrice] [money] NULL,
	[ReciveID] [int] NULL,
	[PackID] [int] NULL,
	[TotalVolumn] [int] NULL,
 CONSTRAINT [PK_MAS_INVOICE] PRIMARY KEY CLUSTERED 
(
	[ReciveListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_SELL]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_SELL](
	[SellID] [int] IDENTITY(1,1) NOT NULL,
	[SellDate] [datetime] NULL,
	[SellStatus] [bit] NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[SessionID] [nvarchar](500) NULL,
 CONSTRAINT [PK_MAS_SELL] PRIMARY KEY CLUSTERED 
(
	[SellID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_SELLLIST]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_SELLLIST](
	[SellListID] [int] IDENTITY(1,1) NOT NULL,
	[SellID] [int] NULL,
	[BakeryID] [int] NULL,
	[VolumnPick] [int] NULL,
	[Price] [money] NULL,
	[Discount] [int] NULL,
	[TotalPrice] [money] NULL,
 CONSTRAINT [PK_MAS_SELLLIST] PRIMARY KEY CLUSTERED 
(
	[SellListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAS_STAFF]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAS_STAFF](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffCode] [nvarchar](50) NULL,
	[StaffName] [nvarchar](500) NULL,
	[DepartmentID] [int] NULL,
 CONSTRAINT [PK_MAS_STAFF] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MY_MENU]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MY_MENU](
	[Menu_PK] [int] IDENTITY(1,1) NOT NULL,
	[MenuURL] [nvarchar](500) NULL,
	[MenuName] [nvarchar](150) NULL,
	[AllowShow] [nvarchar](50) NULL,
	[ParentField] [int] NULL,
	[menuIndex] [int] NULL,
	[PreviewField] [int] NULL,
	[HideLogin] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Menu_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MY_PERMISSION_USER]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MY_PERMISSION_USER](
	[PermitUser_PK] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[Permission] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Name] [nvarchar](500) NULL,
	[CitizenID] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Aumper] [int] NULL,
	[RecordStatus] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermitUser_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_BAKERY]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_BAKERY](
	[BakeryID] [int] IDENTITY(1,1) NOT NULL,
	[BakeryCode] [nvarchar](50) NULL,
	[BakeryName] [nvarchar](500) NULL,
	[Barcode] [nvarchar](50) NULL,
	[MinVolumn] [int] NULL,
	[BakeryTypeID] [int] NULL,
	[UnitID] [int] NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[LastDate] [datetime] NULL,
	[LastUser] [nvarchar](50) NULL,
	[BalanceVolumn] [int] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_REF_BAKERY] PRIMARY KEY CLUSTERED 
(
	[BakeryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_BAKERYTYPE]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_BAKERYTYPE](
	[BakeryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[BakeryTypeName] [nvarchar](500) NULL,
	[Prefix] [nvarchar](50) NULL,
 CONSTRAINT [PK_REF_BAKERYTYPE] PRIMARY KEY CLUSTERED 
(
	[BakeryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_DEPARTMENT]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_DEPARTMENT](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NULL,
 CONSTRAINT [PK_REF_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_MATERIAL]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_MATERIAL](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialCode] [nvarchar](50) NULL,
	[MaterialName] [nvarchar](500) NULL,
	[Barcode] [nvarchar](50) NULL,
	[MinVolumn] [int] NULL,
	[TypeID] [int] NULL,
	[UnitID] [int] NULL,
	[Remark] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[LastDate] [datetime] NULL,
	[LastUser] [nvarchar](50) NULL,
	[BalanceVolumn] [int] NULL,
 CONSTRAINT [PK_MAS_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_PACK]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_PACK](
	[PackID] [int] IDENTITY(1,1) NOT NULL,
	[PackName] [nvarchar](50) NULL,
	[VolumnofPack] [int] NULL,
 CONSTRAINT [PK_REF_PACK] PRIMARY KEY CLUSTERED 
(
	[PackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_SELLER]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_SELLER](
	[SellerID] [int] IDENTITY(1,1) NOT NULL,
	[SellerName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL,
 CONSTRAINT [PK_REF_SELLER] PRIMARY KEY CLUSTERED 
(
	[SellerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_TYPE]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_TYPE](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[Prefix] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REF_UNIT]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REF_UNIT](
	[UnitID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) NULL,
	[CountOfUnit] [int] NULL,
 CONSTRAINT [PK_REF_UNIT] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[VW_BAKERYRECIVEVOLUMN]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_BAKERYRECIVEVOLUMN]
AS
SELECT        dbo.MAS_BAKERYRECIVELIST.BakeryID, dbo.REF_PACK.VolumnofPack * dbo.MAS_BAKERYRECIVELIST.VolumnRecive AS NewVolumn, dbo.MAS_BAKERYRECIVELIST.BakeryReciveID, 
                         dbo.MAS_BAKERYRECIVELIST.BakeryReciveListID
FROM            dbo.MAS_BAKERYRECIVELIST INNER JOIN
                         dbo.REF_PACK ON dbo.MAS_BAKERYRECIVELIST.PackID = dbo.REF_PACK.PackID

GO
/****** Object:  View [dbo].[VW_PICK]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PICK]
AS
SELECT        dbo.MAS_STAFF.StaffCode, dbo.MAS_STAFF.StaffName, dbo.REF_DEPARTMENT.DepartmentName, dbo.MAS_PICK.PickDate, dbo.REF_MATERIAL.MaterialName, dbo.REF_MATERIAL.MaterialCode, 
                         dbo.MAS_PICKLIST.VolumnPick, dbo.MAS_PICK.PickID, dbo.MAS_PICK.Remark, dbo.REF_UNIT.UnitName
FROM            dbo.MAS_PICK INNER JOIN
                         dbo.MAS_PICKLIST ON dbo.MAS_PICK.PickID = dbo.MAS_PICKLIST.PickID INNER JOIN
                         dbo.MAS_STAFF ON dbo.MAS_PICK.StaffID = dbo.MAS_STAFF.StaffID INNER JOIN
                         dbo.REF_DEPARTMENT ON dbo.MAS_STAFF.DepartmentID = dbo.REF_DEPARTMENT.DepartmentID INNER JOIN
                         dbo.REF_MATERIAL ON dbo.MAS_PICKLIST.MaterialID = dbo.REF_MATERIAL.MaterialID INNER JOIN
                         dbo.REF_UNIT ON dbo.REF_MATERIAL.UnitID = dbo.REF_UNIT.UnitID

GO
/****** Object:  View [dbo].[VW_PICKOVER]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_PICKOVER]
AS
SELECT        dbo.MAS_PICKLIST.MaterialID, dbo.MAS_PICKLIST.PickID
FROM            dbo.MAS_PICKLIST INNER JOIN
                         dbo.REF_MATERIAL ON dbo.REF_MATERIAL.MaterialID = dbo.MAS_PICKLIST.MaterialID INNER JOIN
                         dbo.MAS_PICK ON dbo.MAS_PICKLIST.PickID = dbo.MAS_PICK.PickID
WHERE        (dbo.MAS_PICK.PickStatus = 0)
GROUP BY dbo.MAS_PICKLIST.MaterialID, dbo.MAS_PICKLIST.PickID
HAVING        (SUM(dbo.MAS_PICKLIST.VolumnPick) > MAX(dbo.REF_MATERIAL.BalanceVolumn))

GO
/****** Object:  View [dbo].[VW_RECIVEVOLUMN]    Script Date: 2/24/2016 9:22:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_RECIVEVOLUMN]
AS
SELECT        dbo.MAS_RECIVELIST.MaterialID, dbo.REF_PACK.VolumnofPack * dbo.MAS_RECIVELIST.VolumnRecive AS NewVolumn, dbo.MAS_RECIVELIST.ReciveID, dbo.MAS_RECIVELIST.ReciveListID
FROM            dbo.MAS_RECIVELIST INNER JOIN
                         dbo.REF_PACK ON dbo.MAS_RECIVELIST.PackID = dbo.REF_PACK.PackID

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "REF_PACK"
            Begin Extent = 
               Top = 8
               Left = 446
               Bottom = 121
               Right = 616
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MAS_BAKERYRECIVELIST"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 225
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 5145
         Alias = 900
         Table = 4980
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BAKERYRECIVEVOLUMN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_BAKERYRECIVEVOLUMN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MAS_PICK"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 228
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MAS_PICKLIST"
            Begin Extent = 
               Top = 0
               Left = 409
               Bottom = 241
               Right = 579
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MAS_STAFF"
            Begin Extent = 
               Top = 202
               Left = 419
               Bottom = 435
               Right = 589
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "REF_DEPARTMENT"
            Begin Extent = 
               Top = 154
               Left = 705
               Bottom = 250
               Right = 889
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "REF_MATERIAL"
            Begin Extent = 
               Top = 52
               Left = 925
               Bottom = 182
               Right = 1097
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "REF_UNIT"
            Begin Extent = 
               Top = 26
               Left = 1157
               Bottom = 139
               Right = 1327
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1500
    ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICK'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[31] 4[30] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "MAS_PICKLIST"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "REF_MATERIAL"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 228
               Right = 450
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MAS_PICK"
            Begin Extent = 
               Top = 6
               Left = 488
               Bottom = 136
               Right = 674
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1770
         Alias = 1830
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 3840
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKOVER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_PICKOVER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "REF_PACK"
            Begin Extent = 
               Top = 6
               Left = 396
               Bottom = 119
               Right = 566
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MAS_RECIVELIST"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 221
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_RECIVEVOLUMN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_RECIVEVOLUMN'
GO
USE [master]
GO
